/*------------------------------------------------*/
                /* CONTENT */
/*----------------------------------------------- */

    .content
    {
        padding: 10% 20px 15% 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        color: #414440;
    }

    .content > h1
    {
        font-style: italic;
        font-size: 150%;
    }

    .content > p
    {
        font-size: 110%;
    }

/*------------------------------------------------*/
                /* CONTENT */
/*----------------------------------------------- */


@media only screen and (min-width: 1024px)
{

    /*------------------------------------------------*/
                /* MENU */
    /*----------------------------------------------- */

    #about_us > a
    {
        color: #414440;
    }

    #about_us > hr
    {
        background-color: #414440;
    }

    /*------------------------------------------------*/
                /* MENU */
    /*----------------------------------------------- */
    /*------------------------------------------------*/
                /* CONTENT */
    /*----------------------------------------------- */

    .content
    {
        padding: 100px 15% 100px 15%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .content > h1
    {
        font-style: italic;
        font-size: 225%;
    }

    .content > p
    {
        font-size: 125%;
    }

    /*------------------------------------------------*/
                /* CONTENT */
    /*----------------------------------------------- */
}
