@font-face {
  font-family: Montserrat;
  src: url('../fonts/AcherusGrotesque-Medium.woff2');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Montserrat')
}

*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body
{
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
}

header
{
    margin: 0px;
    padding: 0px;
}

main
{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    margin: 0px;
    padding: 0px;
}

footer
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
}

.grid
{
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin: 0px;
    padding: 0px;
    grid-gap: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #e0e0e0;
}

.image-wrapper
{
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
}

p
{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

h1
{
    font-family: "Montserrat",serif;
    font-weight: 500;
}

h2
{
    font-family: "Montserrat",serif;
}

a
{
    font-family: "Montserrat",serif;
}

.sticky
{
    position: fixed;
    top: 84.4px;
    width: 100%;
}

/* .sticky + .content {
    padding-top: 155px;
  } */

@media only screen and (max-width: 1024px)
{
    /*------------------------------------------------*/
                    /* NAVIGATION BAR  */
    /*----------------------------------------------- */
        .navbar
        {
            padding: 0px;
            margin: 0px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            position: fixed;
            background-color: white;
            width: 100%;
            z-index: 2;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        .bright-field-logo
        {
            padding: 0px;
            margin: 0px;
        }

        .bright-field-logo > a > img
        {
            max-height: 80px;
            width: auto;
            padding: 22px 15px 22px 15px;
        }

        .bright-field-logo > a:hover
        {
            opacity: .6;
            transition: .2s;
        }

        .navbar-desktop-menu
        {
            display: none;
        }

        .accordion
        {
            transition: 0.4s;
            background-color: #e0e0e0;
            color: #707070;
            text-decoration: none;
            grid-column: 1 / -1;
            padding: 7px;
            font-size: 105%;
            text-align: center;
            font-family: "Montserrat",serif;
        }

        #navbar-menu-icon-accordion
        {
            margin: 0px;
            padding: 0px;
            grid-column: 2 / -1;
            justify-self: end;
            display: grid;
            grid-template-columns: 1fr;
        }

        #navbar-menu-icon
        {
            align-self: center;
            padding-right: 15px;
        }

        #navbar-menu-icon:hover > div
        {
            opacity: 0.7;
        }

        #navbar-menu-icon > div
        {
            width: 30px;
            height: 5px;
            background-color: #e0e0e0;
            border-radius: 1px;
            margin: 4px 0px;
            transition: .4s;
        }

        .grid > button
        {
            color: #707070;
            grid-column: 1 / -1;
            padding: 7px;
            font-size: 105%;
            text-align: center;
            transition: .02s;
            outline: none;
            border: none;
        }

        .navbar-menu-content-panel > .grid > a
        {
            background-color: #e0e0e0;
            color: white;
            text-decoration: none;
            grid-column: 1 / -1;
            padding: 7px;
            font-size: 105%;
            text-align: center;
        }

        .grid > a:link
        {
            color: #707070;
        }

        .grid > a:visited
        {
            color: #707070;
        }

        .grid > a:hover
        {
            background: white;
            color: #707070;
            /* font-weight: bold; */
        }

        .grid > button:hover
        {
            background: #e0e0e0;
            color: white;
            /* font-weight: bold; */
        }

        .navbar-menu-content-panel
        {
            display: none;
            overflow: hidden;
            grid-column: 1 / -1;
            grid-gap: 0px;
        }

        .navbar-menu-content-panel > div
        {
            padding: 0px;
            margin: 0px;
        }

        .panel
        {
            grid-column: 1 / -1;
            margin: 0px;
            padding: 0px;
            display: none;
            overflow: hidden;
            background-color: white;
        }

        .panel > div
        {
            padding: 0px;
            margin: 0px;
            display: grid;
            grid-template-columns: 1fr;
        }

        .panel > div > a
        {
            text-decoration: none;
            color: #707070;
            background-color: white;
            padding: 7px;
            font-size: 80%;
        }

        .panel > div > a:hover
        {
            background-color: #e0e0e0;
            opacity: .7;
            color: white;
            /* font-weight: bold; */
        }

        .panel > a:link
        {
            color: white;
        }

        .panel > a:visted
        {
            color: white;
        }

    /*------------------------------------------------*/
                    /* NAVIGATION BAR  */
    /*----------------------------------------------- */

    /*------------------------------------------------*/
                    /* SLIDESHOW  */
    /*----------------------------------------------- */

        .slideshow-container
        {
            margin-top: 84px;
            padding: 0px;
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-auto-rows: minmax(1fr, 400px);
            grid-gap: 0px;
            overflow: hidden;
        }

        .slides
        {
            margin: 0px;
            padding: 0px;
            grid-row: 1 / -1;
            grid-column: 1 / -1;
        }

        .image-wrapper
        {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 0px;
            margin: 0px;
            padding: 0px;
        }

        .image-wrapper > img
        {
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: auto;
        }

        .prev, .next
        {
            cursor: pointer;
            grid-row: 1 / -1;
            grid-column: 1 / -1;
            align-self: center;
            margin: 0px;
            padding: 0px;
            width: auto;
            font-weight: bold;
            font-size: 200%;
            padding: 10% 30% 10% 30%;
            color: white;
        }

        .prev:hover, .next:hover
        {
            background-color: rgba(0,0,0,0.8);
        }

        .prev
        {
            grid-column: 1 / 2;
            justify-self: center;
        }

        .next
        {
            grid-column: 3/ 4;
            justify-self: center;
        }

        .dot-container
        {
            margin: 0px;
            padding: 0px;
            grid-row: 1 / -1;
            grid-column: 1 / -1;
            align-self: end;
            justify-self: center;
        }

        .dot
        {
            text-align: center;
            height: 11px;
            width: 11px;
            margin: 4% 2px;
            background-color: gray;
            border-radius: 50%;
            transition: background-color 0.6s ease;
            display: inline-block;
        }

        .active
        {
            background-color: darkslategray;
        }

        /* Fading animation */
        .fade
        {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @-webkit-keyframes fade
        {
            from {opacity: .4}
            to {opacity: 1}
        }

        @keyframes fade
        {
            from {opacity: .4}
            to {opacity: 1}
        }

    /*------------------------------------------------*/
                    /* SLIDESHOW  */
    /*----------------------------------------------- */

    /*------------------------------------------------*/
                /* HOME SOCIAL MEDIA  */
    /*----------------------------------------------- */

        .social-media
        {
            display: grid;
            grid-template-columns: 1fr;
            background-color:#f5f5f5;
            justify-items: center;
            align-items: center;
        }

        .social-media-icons
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;
            grid-gap: 5px;
        }

        .fa
        {
            width: 100%;
            text-decoration: none;
            padding: 26px 16px 26px 16px;
        }

        .social-media-icons > a
        {
            font-size: 100%;
            color: darkgray;
            text-align: center;
        }

        .social-media-icons > .fa:hover
        {
            background-color: #e0e0e0;
            color: white;
            transition: .2s;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        .social-media-icons > a:link
        {
            text-decoration: none;
        }

        .social-media-icons > a:visited
        {
            text-decoration: none;
        }

    /*------------------------------------------------*/
                /* HOME SOCIAL MEDIA  */
    /*----------------------------------------------- */

    /*------------------------------------------------*/
                /* HOME SERVICES  */
    /*----------------------------------------------- */

        .services
        {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: minmax(0px, 150px);
            overflow: hidden;
        }

        .services > img
        {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            width: 100%;
            height: auto;
            margin-top: -25px;
        }

        .services > h1
        {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            color: white;
            text-align: center;
            padding: 10px;
            justify-self: center;
            align-self: center;
        }

    /*------------------------------------------------*/
                /* HOME SERVICES  */
    /*----------------------------------------------- */
}

@media only screen and (min-width: 1024px)
{
    .accordion
    {
        display: none;
    }

    #navbar-menu-icon-accordion
    {
        display: none;
    }

    #navbar-menu-icon
    {
        display: none;
    }

    .grid > button
    {
        display: none;
    }

    .navbar-menu-content-panel
    {
        display: none;
    }

    .panel
    {
        display: none;
    }

    .navbar
    {
        padding: 0px;
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: fixed;
        background-color: white;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        z-index: 2;
    }

    .bright-field-logo
    {
        padding: 0px;
        margin: 0px;
    }

    .bright-field-logo > a > img
    {
        max-height: 100px;
        width: auto;
        padding: 25px;
        margin-left: 10px;
    }

    .bright-field-logo > a:hover
    {
        opacity: .6;
        transition: .2s;
    }

    .navbar-desktop-menu
    {
        padding: 0px;
        margin: 0px;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 0px;
    }

    .navbar-desktop-menu > a
    {
        padding: 40px 20px 40px 20px;
        margin: 0px;
        color: #707070;
        font-size: 120%;
        text-decoration: none;
        transition: .2s;
    }

    .navbar-desktop-menu > a:link
    {
        color: #707070;
    }

    .navbar-desktop-menu > a:visited
    {
        color: #707070;
    }

    .navbar-desktop-menu > a:hover
    {
        background-color: #e0e0e0;
        color: white;
    }

    .dropdown
    {
        margin: 0px;
        padding: 0px;
        display: inline-block;
    }

    .dropdown > a
    {
        padding: 20px 20px 20px 20px;
        margin: 0px;
        color: #707070;
        font-size: 120%;
        text-decoration: none;
        transition: .2s;
    }

    .dropdown > a:link
    {
        color: #707070;
    }

    .dropdown > a:visited
    {
        color: #707070;
    }

    .dropdown > a:hover
    {
        background-color: #e0e0e0;
        color: white;
    }

    .dropdown:hover > .dropdown-content
    {
        display: block;
    }

    .dropdown-content
    {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 180px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 3;
        margin-top: 20px;
    }

    .dropdown-content > a
    {
        color: black;
        text-decoration: none;
        display: block;
        text-align: left;
        padding: 12px 20px 12px 20px;
    }

    .dropdown-content > a:hover
    {
        background-color: #e0e0e0;
        color: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    /*------------------------------------------------*/
                    /* NAVIGATION BAR  */
    /*----------------------------------------------- */

    /*------------------------------------------------*/
                    /* SLIDESHOW  */
    /*----------------------------------------------- */

        .slideshow-container
        {
            margin: 0px;
            padding: 0px;
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-auto-rows: minmax(1fr, 400px);
            grid-gap: 0px;
            overflow: hidden;
            margin-top: 104.4px;
        }

        .slides
        {
            margin: 0px;
            padding: 0px;
            grid-row: 1 / -1;
            grid-column: 1 / -1;
        }

        .image-wrapper
        {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 0px;
            margin: 0px;
            padding: 0px;
        }

        .image-wrapper > img
        {
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: auto;
        }

        .prev, .next
        {
            cursor: pointer;
            grid-row: 1 / -1;
            grid-column: 1 / -1;
            align-self: center;
            margin: 0px;
            padding: 0px;
            width: auto;
            font-weight: bold;
            font-size: 200%;
            padding: 10% 30% 10% 30%;
            color: white;
        }

        .prev:hover, .next:hover
        {
            background-color: rgba(0,0,0,0.8);
        }

        .prev
        {
            grid-column: 1 / 2;
            justify-self: center;
        }

        .next
        {
            grid-column: 3/ 4;
            justify-self: center;
        }

        .dot-container
        {
            margin: 0px;
            padding: 0px;
            grid-row: 1 / -1;
            grid-column: 1 / -1;
            align-self: end;
            justify-self: center;
        }

        .dot
        {
            text-align: center;
            height: 11px;
            width: 11px;
            margin: 4% 2px;
            background-color: gray;
            border-radius: 50%;
            transition: background-color 0.6s ease;
            display: inline-block;
        }

        .active
        {
            background-color: darkslategray;
        }

        /* Fading animation */
        .fade
        {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @-webkit-keyframes fade
        {
            from {opacity: .4}
            to {opacity: 1}
        }

        @keyframes fade
        {
            from {opacity: .4}
            to {opacity: 1}
        }

    /*------------------------------------------------*/
                    /* SLIDESHOW  */
    /*----------------------------------------------- */

    /*------------------------------------------------*/
                /*  SOCIAL MEDIA  */
    /*----------------------------------------------- */

        .social-media
        {
            display: grid;
            grid-template-columns: 1fr;
            background-color:#f5f5f5;
            align-items: center;
            justify-items: center;
        }

        .social-media-icons
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            align-items: center;
            justify-items: center;
        }

        .fa
        {
            width: 225px;
            text-decoration: none;
            padding: 25px 20px 25px 20px;
        }

        .social-media-icons > a
        {
            font-size: 160%;
            color: darkgray;
            text-align: center;
        }

        .social-media-icons > .fa:hover
        {
            background-color: #e0e0e0;
            color: white;
            transition: .2s;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        .social-media-icons > a:link
        {
            text-decoration: none;
        }

        .social-media-icons > a:visited
        {
            text-decoration: none;
        }

    /*------------------------------------------------*/
                /*  SOCIAL MEDIA  */
    /*----------------------------------------------- */

    /*------------------------------------------------*/
                /*  SERVICES  */
    /*----------------------------------------------- */

        .services
        {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: minmax(0px, 300px);
            overflow: hidden;
        }

        .services > img
        {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            width: 100%;
            height: auto;
            margin-top: -250px;
            padding: 0px;
        }

        .services > h1
        {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            color: white;
            text-align: center;
            padding: 10px;
            justify-self: center;
            align-self: center;
            font-size: 300%;
        }

    /*------------------------------------------------*/
                /*  SERVICES  */
    /*----------------------------------------------- */
}
