/*------------------------------------------------*/
                /* CONTENT */
/*----------------------------------------------- */

.content
{
    padding: 10% 20px 15% 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
    color: #414440;
}

.content > div
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.content > div > h1
{
    font-size: 150%;
}

.content > div > p
{
    font-size: 110%;
}

#how-to-give
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
    color: #414440;
}

#how-to-give > div
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

#how-to-give > div > div
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

#how-to-give > div > h1
{
    font-size: 150%;
}

#how-to-give > div > p
{
    font-size: 110%;
}

#how-to-give > div > div > h2
{
    font-size: 125%;
    color: #6f726e;
}

#how-to-give > div > div > p
{
    font-size: 110%;
}

#giving-login > a
{
    color: #5f9e43;
}

#giving-login > a:visited
{
    color:#5f9e43;
}

#giving-login > a:link
{
    color: #5f9e43;
}

#giving-login > a:hover
{
    color: #5f9e43;
}


/*------------------------------------------------*/
                /* CONTENT */
/*----------------------------------------------- */

@media only screen and (min-width: 1024px)
{
/*------------------------------------------------*/
            /* DESKTOP MENU */
/*----------------------------------------------- */
    #giving > a
    {
       color: #414440;
    }

    #giving > hr
    {
        background-color: #414440;
    }
/*------------------------------------------------*/
            /* DESKTOP MENU */
/*----------------------------------------------- */

/*------------------------------------------------*/
                /* CONTENT */
/*----------------------------------------------- */

    .content
    {
        padding: 100px 15% 100px 15%;
        grid-gap: 100px;
    }

    .content > div > h1
    {
        font-size: 225%;
    }

    .content > div > p
    {
        font-size: 125%;
    }

    #how-to-give
    {
        grid-gap: 100px;
    }

    #how-to-give > div > h1
    {
        font-size: 225%;
    }

    #how-to-give > div > p
    {
        font-size: 125%;
    }

    #how-to-give > div > div > h2
    {
        font-size: 175%;
    }

    #how-to-give > div > div > p
    {
        font-size: 125%;
    }
/*------------------------------------------------*/
                /* CONTENT */
/*----------------------------------------------- */
}


