/*------------------------------------------------*/
/* HEADER IMAGE  */
/*----------------------------------------------- */

.header_image {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
  }
  
  .header_image > img {
    margin-top: 50px;
    width: 100%;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
/*------------------------------------------------*/
/* HEADER IMAGE  */
/*----------------------------------------------- */

/*------------------------------------------------*/
            /* CONTENT */
/*----------------------------------------------- */

.content
{
    padding: 10% 20px 15% 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
    color: #414440;
}

.content > div
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.content > div > h1
{
    font-size: 150%;
}

.content > div > p
{
    font-size: 110%;
}

.content > div > .serving-login > a 
{
    color: #5f9e43;
}

.content > div > .serving-login > a:visited 
{
    color: #5f9e43;
}

.content > div > .serving-login > a:link
{
    color: #5f9e43;
}

/*------------------------------------------------*/
                /* CONTENT */
/*----------------------------------------------- */

@media only screen and (min-width: 1024px)
{
/*------------------------------------------------*/
/* HEADER IMAGE  */
/*---------------------------------------------- */

  .header_image {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0px, 625px);
    overflow: hidden;
  }

  .header_image > img {
    width: 100%;
    height: auto;
    margin-top: -250px
  }

/*------------------------------------------------*/
/* HEADER IMAGE  */
/*----------------------------------------------- */

/*------------------------------------------------*/
            /* CONTENT */
/*----------------------------------------------- */

    .content
    {
        padding: 100px 15% 100px 15%;
        grid-gap: 100px;
    }

    .content > div > h1
    {
        font-size: 225%;
    }

    .content > div > p
    {
        font-size: 125%;
    }

/*------------------------------------------------*/
            /* CONTENT */
/*----------------------------------------------- */
}