/*------------------------------------------------*/
                /* CONTENT */
/*----------------------------------------------- */

.content
{
    padding: 10% 20px 15% 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
    color: #414440;
}

.content > div
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.content > div > h1
{
    font-style: italic;
    font-size: 150%;
}

.content > div > p
{
    font-size: 110%;
}

/*------------------------------------------------*/
                /* CONTENT */
/*----------------------------------------------- */


@media only screen and (min-width: 1024px)
{
/*------------------------------------------------*/
                 /* DESKTOP MENU */
/*----------------------------------------------- */

    #historic_creeds> a
    {
       color: #414440;
    }

    #historic_creeds > hr
    {
        background-color: #414440;
    }

/*------------------------------------------------*/
                 /* DESKTOP MENU */
/*----------------------------------------------- */
/*------------------------------------------------*/
            /* CONTENT */
/*----------------------------------------------- */

    .content
    {
        padding: 100px 15% 100px 15%;
        grid-gap: 100px;
    }

    .content > div > h1
    {
        font-size: 225%;
    }

    .content > div > p
    {
        font-size: 125%;
    }

/*------------------------------------------------*/
            /* CONTENT */
/*----------------------------------------------- */
}

