*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 600px)
{
    body
    {
        margin: 0px;
        padding: 0px;
        display: grid;
        grid-template-columns: 1fr;
    }

    header 
    {
        background-color: gray;
        margin: 0px;
        padding: 0px;
    }

    main
    {
        background-color: #eeee;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
        margin: 0px;
        padding: 0px;
    }

    footer
    {
        background-color: lightgray;
    }

    .grid
    {
        display: grid;
        grid-template-columns: 5fr 1fr;
        margin: 0px;
        padding: 0px;
        grid-gap: 0px;
    }

    a
    {
        text-decoration: none;
        color: black;
    }

    a:link, a:visited
    {
        color: black;
    }

/*------------------------------------------------*/
                /* NAVIGATION BAR  */
/*----------------------------------------------- */ 
    
    .navbar
    {
        padding: 0px;
        margin: 0px;
        background-color: darkgray;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .accordion
    {
        margin: 0px;
        padding: 0px;
        transition: 0.4s;
    }

    #navbar-menu-icon-accordion
    {
        margin: 0px;
        padding: 0px;
        grid-column: 2 / -1;
        justify-self: end;
    }

    #navbar-menu-icon
    {
        margin: 20px 10px 20px 0px;
    }

    #navbar-menu-icon:hover > div
    {
        background-color: gray;
    }

    #navbar-menu-icon > div
    {
        width: 30px;
        height: 5px;
        background-color: black;
        margin: 4px 0;
    }

    .grid > button 
    {
        grid-column: 1 / -1;
        border: none;
        outline: none;
        background-color: lightgray;
        padding: 5px;
    }

    .navbar-menu-content-panel
    {
        display: none;
        overflow: hidden;
        grid-column: 1 / -1;
        grid-gap: 0px;
    }
    .navbar-menu-content-panel > div
    {
        padding: 0px;
        margin: 0px;
    }

    .panel
    {
        grid-column: 1 / -1;
        margin: 0px;
        padding: 0px;
        display: none;
        overflow: hidden;
    }

    .panel > button 
    {
        width: 100%;
        margin: 0px;
        padding: 5px;
        text-align: left;
        border: none;
        outline: none;
    }
/*------------------------------------------------*/
                /* NAVIGATION BAR  */
/*----------------------------------------------- */ 

/*------------------------------------------------*/
                /* SLIDESHOW  */
/*----------------------------------------------- */

    .slideshow-container
    {
        margin: 0px;
        padding: 0px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    .slides-fade
    {
        margin: 0px;
        padding: 0px;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
    }

    .dot-container
    {
        margin: 0px;
        padding: 0px;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        align-self: end;
        justify-self: center;
    }

    .dot
    {
        text-align: center;
        height: 15px;
        width: 15px;
        margin: 4% 2px;
        background-color: gray;
        border-radius: 50%;
        transition: background-color 0.6s ease;
        display: inline-block;
    }

    .slides-fade > img
    {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: auto;
    }

    .active 
    {
        background-color: #717171;
    }

    /* Fading animation */
    .fade 
    {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade 
    {
        from {opacity: .4} 
        to {opacity: 1}
    }
      
    @keyframes fade 
    {
        from {opacity: .4} 
        to {opacity: 1}
    }
}
