.pad-header {
  padding-top: 84px;
}

.alert {
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(1fr, 180px);
  grid-gap: 0px;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  border: 1px solid transparent;
  margin: 0px;
  padding: 10px;
  font-size: 100%;
  text-align: center;
}

.header {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(250px, 1fr);

  grid-gap: 0px;
  position: relative;
  overflow: hidden;
  align-items: center;

  background-image: linear-gradient(21deg, rgba(0, 0, 0, 0.6) 45%, rgba(0, 0, 0, 0.6)), url("../images/graphics/BandShell.jpg");



  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.header-context {
  margin: 0px;
  display: flex;
  justify-content: center;
 
}

.header-item {
padding: 0px;
  border-radius: 10px;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-shadow: 1px 1px 6px black;
}



.header-title {
  font-size: 125%;
  text-align: center;
}

.header-text {
  font-size: 150%;
  text-align: center;  
}

.header-text1 {
  font-size: 110%;
  text-align: center;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.header-button>a>p {
  margin-top: 10px;
  border-radius: 25px;
  border: 2px solid white;
  padding: 5px;
  font-size: 110%;
  color: white;
  text-align: center;
}

.header-button>a>p:hover {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-shadow: 1px 1px 3px black;
}

.header-button>a:visited {
  color: white;
  text-decoration: none;
}

.header-button>a:link {
  color: white;
  text-decoration: none;
}

.header-button>a:hover {
  text-decoration: none;
}

.header-button>a:active {
  text-decoration: none;
}


/*------------------------------------------------*/
/* SLIDESHOW  */
/*----------------------------------------------- */

.slideshow-container {
  /* margin-top: 84px; */
  padding: 0px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-auto-rows: minmax(1fr, 400px);
  grid-gap: 0px;
  overflow: hidden;
}

.slides {
  margin: 0px;
  padding: 0px;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.image-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0px;
  margin: 0px;
  padding: 0px;
}

.image-wrapper>img {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
}

.image-wrapper>p {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
}

.prev,
.next {
  cursor: pointer;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  align-self: center;
  margin: 0px;
  padding: 0px;
  width: auto;
  font-weight: bold;
  font-size: 200%;
  padding: 5px 10px 5px 10px;
  color: white;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  grid-column: 1 / 2;
  justify-self: center;
}

.next {
  grid-column: 3/ 4;
  justify-self: center;
}

.dot-container {
  margin: 0px;
  padding: 0px;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  align-self: end;
  justify-self: center;
}

.dot {
  text-align: center;
  height: 11px;
  width: 11px;
  margin: 4% 2px;
  background-color: white;
  border-radius: 50%;
  transition: background-color 0.4s;
  display: inline-block;
}

.active {
  background-color: #6f726e;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/*------------------------------------------------*/
/* SLIDESHOW  */
/*----------------------------------------------- */
/*------------------------------------------------*/
/* HOME INFORMATION  */
/*----------------------------------------------- */

.home-information {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(0px, 150px);
  grid-gap: 0px;
}

.home-information>.image-wrapper {
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px;
  width: 100%;
}

.home-information>.image-wrapper>img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.info-text {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px;
}

.info-text>a {
  color: white;
  font-size: 150%;
  text-decoration: none;
  text-align: center;
}

.info-text>hr {
  color: white;
  background-color: white;
  outline: none;
  padding: 3px;
  border: none;
  width: 75%;
  justify-self: center;
}

/*------------------------------------------------*/
/* HOME INFORMATION  */
/*----------------------------------------------- */
/*------------------------------------------------*/
/* HOME DESCRIPTION  */
/*----------------------------------------------- */


.description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  background-color: white;
  margin: 0px;
  padding: 15%;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.2);
}

.description>h1 {
  padding-bottom: 20px;
  margin: 0px;
  text-align: center;
  font-size: 150%;
  color: #414440;
}


.description>p {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 110%;
  color: #414440;
}

.where-we-meet {
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.where-we-meet>h1 {
  font-size: 150%;
  color: #414440;
  text-align: center;
}

.times-of-years {
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  align-items: center;
}

.times-of-years>h2 {
  text-align: center;
  color: #6f726e;
  font-size: 125%;
}

.times-of-years>p {
  text-align: center;
  color: #414440;
  font-size: 100%;
}

.times-of-years>p>a {
  color: #414440;
  text-decoration: none;
}

.times-of-years>p>a:hover {
  text-decoration: underline;
}

.times-of-years>p>a:visited {
  color: #414440;
}

.times-of-years>p>a:link {
  color: #414440;
}

/*------------------------------------------------*/
/* HOME DESCRIPTION  */
/*----------------------------------------------- */

/*------------------------------------------------*/
/* HOME WHAT TO EXPECT  */
/*----------------------------------------------- */

.what-to-expect {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(0px, 199px);
  color: white;
  overflow: hidden;
}

.what-to-expect>.image-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px;
  width: 100%;
}

.what-to-expect>.image-wrapper>img {
  width: auto;
  min-height: 199px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  overflow: hidden;
  justify-self: center;
  align-self: center;
}

.what-to-expect-content {
  margin-left: 8%;
  align-self: center;
  justify-self: left;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.what-to-expect-content>h1 {
  font-size: 150%;
  color: white;
}

.what-to-expect-content>a {
  border: 3px solid white;
  padding: 5px;
  transition: 0.2s;
  text-decoration: none;
  font-size: 110%;
  color: #6f726e;
}

.what-to-expect-content>a:link {
  text-decoration: none;
  color: white;
}

.what-to-expect-content>a:visited {
  text-decoration: none;
  color: white;
}

.what-to-expect-content>a:hover {
  background-color: white;
  color: #414440;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*------------------------------------------------*/
/* HOME WHAT TO EXPECT  */
/*----------------------------------------------- */
/*------------------------------------------------*/
/* UPCOMING EVENTS */
/*----------------------------------------------- */
.upcoming_events {
  padding: 15% 3% 20% 3%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 60px;
  color: #414440;
}

.upcoming_events>.title {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 200%;
}

.upcoming_events>.event {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 6fr;
  grid-template-areas:
    "event_date         event_title"
    "event_date         event_description"
    "...........        event_description";
}

.event_date {
  grid-area: event_date;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1px;
  margin-top: 8px;
}

.event_date>hr {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  height: 6px;
  width: 60%;
  background-color: #5f9e43;
  justify-self: center;
}

.event_date>.event_weekday {
  font-size: 80%;
  justify-self: center;
}

.event_date>.event_month {
  font-size: 70%;
  justify-self: center;
}

.event_date>.event_numerical_day {
  font-size: 175%;
  justify-self: center;
}

.event>.event_title {
  padding: 0px;
  margin: 0px;
  grid-area: event_title;
  font-size: 150%;
  color: #6f726e;
}

.event>.event_description {
  padding: 0px;
  margin: 0px;
  grid-area: event_description;
  font-size: 110%;
}

/*------------------------------------------------*/
/* UPCOMING EVENTS */
/*----------------------------------------------- */

@media only screen and (min-width: 1024px) {

  .alert-warning {
    font-size: 125%;
  }
  .header {
    grid-template-rows: minmax(650px, 1fr);
  }

  .header-title {
    font-size: 300%;
  }
  
  .header-text {
    font-size: 350%;
  }
  
  .header-text1 {
    font-size: 200%;
  }

  .header-context {
    grid-row-gap: 20px;
  }

  .header-button{
    padding: 20px;
  }

  .header-button>a>p {
    padding: 15px;
    font-size: 200%;
  }

  /*------------------------------------------------*/
  /* HOME INFORMATION  */
  /*----------------------------------------------- */

  .home-information {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .info-text>a {
    font-size: 225%;
  }

  /*------------------------------------------------*/
  /* HOME INFORMATION  */
  /*----------------------------------------------- */
  /*------------------------------------------------*/
  /* HOME DESCRIPTION  */
  /*----------------------------------------------- */

  .description {
    padding: 5% 25%;
  }

  .description>h1 {
    font-size: 225%;
  }

  .description>p {
    font-size: 125%;
  }

  .where-we-meet>h1 {
    font-size: 225%;

  }

  .times-of-years>h2 {
    font-size: 175%;
  }

  .times-of-years>p {
    font-size: 125%;
  }

  /*------------------------------------------------*/
  /* HOME DESCRIPTION  */
  /*----------------------------------------------- */

  /*------------------------------------------------*/
  /* HOME WHAT TO EXPECT  */
  /*----------------------------------------------- */

  .what-to-expect {
    grid-auto-rows: minmax(0px, 350px);
  }

  .what-to-expect>.image-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .what-to-expect>.image-wrapper>img {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    width: auto;
    min-height: 436px;
    justify-self: center;
    align-self: center;
  }

  .what-to-expect-content {
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 3fr 2fr 2fr;
    justify-self: right;
  }

  .what-to-expect-content>h1 {
    font-size: 225%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .what-to-expect-content>a {
    font-size: 125%;
    grid-column: 1 / 2;
  }

  /*------------------------------------------------*/
  /* HOME WHAT TO EXPECT  */
  /*----------------------------------------------- */
  /*------------------------------------------------*/
  /* UPCOMING EVENTS */
  /*----------------------------------------------- */
  .upcoming_events {
    padding: 5% 10%;
    grid-template-columns: 1fr 1fr;
  }

  .upcoming_events>.title {
    justify-self: center;
    grid-column: 1 / -1;
    font-size: 225%;
  }

  .upcoming_events>.title>br {
    display: none;
  }

  .event_date>hr {
    height: 6px;
    width: 38px;
  }

  .event_date>.event_weekday {
    font-size: 100%;
  }

  .event_date>.event_month {
    font-size: 90%;
  }

  .event_date>.event_numerical_day {
    font-size: 200%;
  }

  .event>.event_title {
    padding: 0px;
    margin: 0px;
    grid-area: event_title;
    font-size: 200%;
  }

  .event>.event_description {
    padding: 0px;
    margin: 0px;
    grid-area: event_description;
    font-size: 125%;
  }

  /*------------------------------------------------*/
  /* UPCOMING EVENTS */
  /*----------------------------------------------- */
}