@font-face {
  font-family: Montserrat;
  src: url('../fonts/AcherusGrotesque-Medium.woff2');
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Montserrat')
}

*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body
{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
}

header
{
    margin: 0px;
    padding: 0px;
}

main
{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    margin: 0px;
    padding: 0px;
}

footer
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
}

.grid
{
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin: 0px;
    padding: 0px;
    grid-gap: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #e0e0e0;
}

.image-wrapper
{
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
}

p
{
    font-family: "Montserrat",sans-serif;
}

h1
{
    font-family: "Montserrat",serif;
    font-weight: 500;
}

h2
{
    font-family: "Montserrat",serif;
}

a
{
    font-family: "Montserrat",serif;
}

@media only screen and (max-width: 1024px)
{

/*------------------------------------------------*/
                /* NAVIGATION BAR  */
/*----------------------------------------------- */

    .navbar
    {
        padding: 0px;
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 2;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .bright-field-logo
    {
        padding: 0px;
        margin: 0px;
    }

    .bright-field-logo > a > img
    {
        max-height: 80px;
        width: auto;
        padding: 22px 15px 22px 15px;
    }

    .bright-field-logo > a:hover
    {
        opacity: .6;
        transition: .2s;
    }

    .navbar-desktop-menu
    {
        display: none;
    }

    .accordion
    {
        transition: 0.4s;
        background-color: #e0e0e0;
        color: #707070;
        grid-column: 1 / -1;
        padding: 7px;
        font-size: 105%;
        text-align: center;
        font-family: "Montserrat",serif;
    }

    #navbar-menu-icon-accordion
    {
        margin: 0px;
        padding: 0px;
        grid-column: 2 / -1;
        justify-self: end;
        display: grid;
        grid-template-columns: 1fr;
    }

    #navbar-menu-icon
    {
        align-self: center;
        padding-right: 15px;
    }

    #navbar-menu-icon:hover > div
    {
        opacity: 0.7;
    }

    #navbar-menu-icon > div
    {
        width: 30px;
        height: 5px;
        background-color: #e0e0e0;
        border-radius: 1px;
        margin: 4px 0px;
        transition: .4s;
    }

    .grid > button
    {
        grid-column: 1 / -1;
        border: none;
        outline: none;
        padding: 7px;
        font-size: 105%;
        color: #707070;
        text-align: center;
        transition: .02s;
    }

    .navbar-menu-content-panel > .grid > a
    {
        background-color: #e0e0e0;
        color: white;
        text-decoration: none;
        grid-column: 1 / -1;
        padding: 7px;
        font-size: 105%;
        text-align: center;
    }

    .grid > a:link
    {
        color: #707070;
    }

    .grid > a:visited
    {
        color: #707070;
    }

    .grid > a:hover
    {
        background: white;
        color: #707070;
        /* font-weight: bold; */
    }

    .grid > button:hover
    {
        background: #e0e0e0;
        color: #707070;
        /* font-weight: bold; */
    }

    .navbar-menu-content-panel
    {
        display: none;
        overflow: hidden;
        grid-column: 1 / -1;
        grid-gap: 0px;
    }
    .navbar-menu-content-panel > div
    {
        padding: 0px;
        margin: 0px;
    }

    .panel
    {
        grid-column: 1 / -1;
        margin: 0px;
        padding: 0px;
        display: none;
        overflow: hidden;
        background-color: white;
    }

    .panel > div
    {
        padding: 0px;
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .panel > div > a
    {
        text-decoration: none;
        color: #707070;
        background-color: white;
        padding: 7px;
        font-size: 80%;
    }

    .panel > div > a:hover
    {
        background-color: #e0e0e0;
        opacity: .7;
        color: white;
        /* font-weight: bold; */
    }

    .panel > a:link, a:visited
    {
        color: white;
    }

/*------------------------------------------------*/
                /* NAVIGATION BAR  */
/*----------------------------------------------- */

/*------------------------------------------------*/
                /* SLIDESHOW  */
/*----------------------------------------------- */

    .slideshow-container
    {
        margin-top: 84px;
        padding: 0px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-auto-rows: minmax(1fr, 400px);
        grid-gap: 0px;
        overflow: hidden;

    }

    .slides
    {
        margin: 0px;
        padding: 0px;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .image-wrapper
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
        margin: 0px;
        padding: 0px;
    }

    .image-wrapper > img
    {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: auto;
    }

    .prev, .next
    {
        cursor: pointer;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        align-self: center;
        margin: 0px;
        padding: 0px;
        width: auto;
        font-weight: bold;
        font-size: 200%;
        padding: 5px 10px 5px 10px;
        color: white;
    }

    .prev:hover, .next:hover
    {
        background-color: rgba(0,0,0,0.8);
    }

    .prev
    {
        grid-column: 1 / 2;
        justify-self: center;
    }

    .next
    {
        grid-column: 3/ 4;
        justify-self: center;
    }

    .dot-container
    {
        margin: 0px;
        padding: 0px;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        align-self: end;
        justify-self: center;
    }

    .dot
    {
        text-align: center;
        height: 11px;
        width: 11px;
        margin: 4% 2px;
        background-color: white;
        border-radius: 50%;
        transition: background-color 0.4s;
        display: inline-block;
    }

    .active
    {
        background-color: #e0e0e0;
    }

    /* Fading animation */
    .fade
    {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade
    {
        from {opacity: .4}
        to {opacity: 1}
    }

    @keyframes fade
    {
        from {opacity: .4}
        to {opacity: 1}
    }
/*------------------------------------------------*/
                /* SLIDESHOW  */
/*----------------------------------------------- */
/*------------------------------------------------*/
            /* HOME INFORMATION  */
/*----------------------------------------------- */
    .home-information
    {
        margin: 0px;
        padding: 0px;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(0px, 150px);
        grid-gap: 0px;
    }

    .home-information > .image-wrapper
    {
        padding: 0px;
        margin: 0px;
        width: 100%;
        overflow: hidden;
    }

    .home-information > .image-wrapper > img
    {
        padding: 0px;
        margin: 0px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 100%;
        overflow: hidden;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .image-wrapper
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    .info-text , .info-text > a
    {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        color: white;
        font-size: 26px;
        text-decoration: none;
        z-index: 1;
    }

    .info-text > hr
    {
        color: white;
        background-color: white;
        outline: none;
        padding: 2px;
        border: none;
    }
/*------------------------------------------------*/
            /* HOME INFORMATION  */
/*----------------------------------------------- */
/*------------------------------------------------*/
            /* HOME DESCRIPTION  */
/*----------------------------------------------- */

    .description
    {
        display: grid;
        grid-template-columns: 1fr;
        background-color: white;
        margin: 0px;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .description > .content
    {
        margin: 0px;
        padding: 0px;
    }

    .description > .content > h1
    {
        text-align: center;
        font-size: 150%;
        padding: 10px;
    }

    .description > .content > p
    {
        text-align: center;
        font-size: 110%;
        padding: 2% 50px;
    }
/*------------------------------------------------*/
            /* HOME DESCRIPTION  */
/*----------------------------------------------- */

/*------------------------------------------------*/
            /* HOME WHAT TO EXPECT  */
/*----------------------------------------------- */

    .what-to-expect
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(0px, 199px);
        color: white;
        overflow: hidden;
    }

    .what-to-expect > .image-wrapper
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
        width: 100%;
    }


    .what-to-expect > .image-wrapper > img
    {
        width: 100%;
        height: auto;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        overflow: hidden;
        margin-top: -15px;
    }

    .what-to-expect-content
    {
        align-self: center;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .what-to-expect-content > h1
    {
        font-size: 150%;
    }

    .what-to-expect-content > a
    {
        border: 3px solid white;
        padding: 5px;
        transition: .2s;
        text-decoration: none;
        font-size: 110%;
        font-family: "Montserrat",sans-serif;
    }

    .what-to-expect-content > a:link
    {
        text-decoration: none;
        color: white;
    }

    .what-to-expect-content > a:visited
    {
        text-decoration: none;
        color: white;
    }

    .what-to-expect-content > a:hover
    {
        background-color: white;
        color: #707070;
    }

/*------------------------------------------------*/
        /* HOME WHAT TO EXPECT  */
/*----------------------------------------------- */
/*------------------------------------------------*/
            /* HOME SOCIAL MEDIA  */
/*----------------------------------------------- */

    .social-media
    {
        display: grid;
        grid-template-columns: 1fr;
        background-color:#f5f5f5;
        justify-items: center;
        align-items: center;
    }

    .social-media-icons
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 5px;
    }

    .fa
    {
        width: 100%;
        text-decoration: none;
        padding: 26px 16px 26px 16px;
    }

    .social-media-icons > a
    {
        font-size: 100%;
        color: darkgray;
        text-align: center;
    }

    .social-media-icons > .fa:hover
    {
        background-color: #e0e0e0;
        color: white;
        transition: .2s;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .social-media-icons > a:link
    {
        text-decoration: none;
    }

    .social-media-icons > a:visited
    {
        text-decoration: none;
    }
/*------------------------------------------------*/
            /* HOME SOCIAL MEDIA  */
/*----------------------------------------------- */
/*------------------------------------------------*/
            /* HOME SERVICES  */
/*----------------------------------------------- */

    .services
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(0px, 150px);
        overflow: hidden;
    }

    .services > img
    {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        width: 100%;
        height: auto;
        margin-top: -25px;
    }

    .services > h1
    {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        color: white;
        text-align: center;
        padding: 10px;
        justify-self: center;
        align-self: center;
    }
/*------------------------------------------------*/
            /* HOME SERVICES  */
/*----------------------------------------------- */
}

/*------------------------------------------------*/
                /* NAVIGATION BAR  */
/*----------------------------------------------- */

@media only screen and (min-width: 1024px)
{
    .accordion
    {
        display: none;
    }

    #navbar-menu-icon-accordion
    {
        display: none;
    }

    #navbar-menu-icon
    {
        display: none;
    }

    .grid > button
    {
        display: none;
    }

    .navbar-menu-content-panel
    {
        display: none;
    }

    .panel
    {
        display: none;
    }

    .navbar
    {
        padding: 0px;
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: fixed;
        background-color: white;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        z-index: 2;
    }

    .bright-field-logo
    {
        padding: 0px;
        margin: 0px;
    }

    .bright-field-logo > a > img
    {
        max-height: 100px;
        width: auto;
        padding: 25px;
        margin-left: 10px;
    }

    .bright-field-logo > a:hover
    {
        opacity: .6;
        transition: .2s;
    }

    .navbar-desktop-menu
    {
        padding: 0px;
        margin: 0px;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 0px;
    }

    .navbar-desktop-menu > a
    {
        padding: 40px 20px 40px 20px;
        margin: 0px;
        color: #707070;
        font-size: 120%;
        text-decoration: none;
        transition: .2s;
    }

    .navbar-desktop-menu > a:link
    {
        color: #707070;
    }

    .navbar-desktop-menu > a:visited
    {
        color: #707070;
    }

    .navbar-desktop-menu > a:hover
    {
        background-color: #e0e0e0;
        color: white;
    }

    .dropdown
    {
        margin: 0px;
        padding: 0px;
        display: inline-block;
    }

    .dropdown > a
    {
        padding: 41px 20px 41px 20px;
        margin: 0px;
        color: #707070;
        font-size: 120%;
        text-decoration: none;
        transition: .2s;
    }

    .dropdown > a:link
    {
        color: #707070;
    }

    .dropdown > a:visited
    {
        color: #707070;
    }

    .dropdown > a:hover
    {
        background-color: #e0e0e0;
        color: white;
    }

    .dropdown:hover > .dropdown-content
    {
        display: block;
    }

    .dropdown-content
    {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 180px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 3;
        margin-top: 20px;
    }

    .dropdown-content > a
    {
        color: black;
        text-decoration: none;
        display: block;
        text-align: left;
        padding: 12px 20px 12px 20px;
    }

    .dropdown-content > a:hover
    {
        background-color: #e0e0e0;
        color: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

/*------------------------------------------------*/
                /* NAVIGATION BAR  */
/*----------------------------------------------- */

/*------------------------------------------------*/
                /* SLIDESHOW  */
/*----------------------------------------------- */

    .slideshow-container
    {
        margin: 0px;
        padding: 0px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-auto-rows: minmax(1fr, 400px);
        grid-gap: 0px;
        overflow: hidden;
        margin-top: 104.4px;
    }

    .slides
    {
        margin: 0px;
        padding: 0px;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
    }

    .image-wrapper
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
        margin: 0px;
        padding: 0px;
    }

    .image-wrapper > img
    {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: auto;
    }

    .prev
    {
        cursor: pointer;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        align-self: center;
        margin: 0px;
        padding: 0px;
        width: auto;
        font-weight: bold;
        font-size: 200%;
        padding: 15px 25px 15px 20px;
        color: white;
    }

    .next
    {
        cursor: pointer;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        align-self: center;
        margin: 0px;
        padding: 0px;
        width: auto;
        font-weight: bold;
        font-size: 200%;
        padding: 15px 20px 15px 25px;
        color: white;
    }

    .prev:hover, .next:hover
    {
        background-color: rgba(0,0,0,0.8);
    }

    .prev
    {
        grid-column: 1 / 2;
        justify-self: center;
    }

    .next
    {
        grid-column: 3/ 4;
        justify-self: center;
    }

    .dot-container
    {
        margin: 0px;
        padding: 0px;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        align-self: end;
        justify-self: center;
    }

    .dot
    {
        text-align: center;
        height: 15px;
        width: 15px;
        margin: 4% 5px;
        background-color: white;
        border-radius: 50%;
        transition: background-color 0.6s ease;
        display: inline-block;
    }

    .active
    {
        background-color: #e0e0e0;
    }

    /* Fading animation */
    .fade
    {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade
    {
        from {opacity: .4}
        to {opacity: 1}
    }

    @keyframes fade
    {
        from {opacity: .4}
        to {opacity: 1}
    }
/*------------------------------------------------*/
                /* SLIDESHOW  */
/*----------------------------------------------- */
/*------------------------------------------------*/
            /* HOME INFORMATION  */
/*----------------------------------------------- */

    .home-information
    {
        margin: 0px;
        padding: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(0px, 300px);
        grid-gap: 0px;

    }

    .home-information > .image-wrapper
    {
        padding: 0px;
        margin: 0px;
        width: 100%;
        overflow: hidden;
    }

    .home-information > .image-wrapper > img
    {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 100%;
        overflow: hidden;
        -webkit-filter: blur(3px);
        filter: blur(3px);
        /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    }

    .image-wrapper
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    .info-text
    {
        margin-top: -220px;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }

     .info-text > a
    {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        color: white;
        font-size: 200%;
        text-decoration: none;
        z-index: 1;
        margin-bottom: 30px;
    }

    .info-text > hr
    {
        color: white;
        background-color: white;
        outline: none;
        padding: 3px;
        border: none;
        width: 30%;
        z-index: 1;
        margin-top: -220px;
    }
/*------------------------------------------------*/
            /* HOME INFORMATION  */
/*----------------------------------------------- */
/*------------------------------------------------*/
            /* HOME DESCRIPTION  */
/*----------------------------------------------- */

    .description
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        background-color: white;
        margin: 0px;
        padding: 8% 15% 8% 15%;
        margin-top: -5%;
    }


    .description > .content > h1
    {
        text-align: center;
        font-size: 250%;
        padding: 0px;
        margin: 0px;
        font-style: italic;
        margin-bottom: 20px;
    }

    .description > .content > p
    {
        padding: 0px;
        margin: 0px;
        text-align: center;
        font-size: 125%;
    }

    .description > .content > p
    {
      margin-bottom: 30px;
    }
/*------------------------------------------------*/
            /* HOME DESCRIPTION  */
/*----------------------------------------------- */

/*------------------------------------------------*/
            /* HOME WHAT TO EXPECT  */
/*----------------------------------------------- */

    .what-to-expect
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(0px, 500px);
        color: white;
        overflow: hidden;
    }

    .what-to-expect > .image-wrapper
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0px;
        width: 100%;
    }

    .what-to-expect > .image-wrapper > img
    {
        width: 100%;
        height: auto;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        overflow: hidden;
    }

    .what-to-expect-content
    {
        grid-column: 1 / 2;
        grid-row: 1 /2;
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 3fr 2fr 2fr;
        grid-gap: 10px;
        justify-self: center;
        align-self: center;
    }

    .what-to-expect-content > h1
    {
        font-size: 335%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    .what-to-expect-content > a
    {
        border: 3px solid white;
        transition: .2s;
        text-decoration: none;
        font-size: 150%;
        font-family: "Montserrat",sans-serif;
        grid-column: 1 / 2;
        text-align: center;
        padding: 10px;
    }

    .what-to-expect-content > a:link
    {
        text-decoration: none;
        color: white;
    }

    .what-to-expect-content > a:visited
    {
        text-decoration: none;
        color: white;
    }

    .what-to-expect-content > a:hover
    {
        background-color: white;
        color: #707070;
    }

/*------------------------------------------------*/
        /* HOME WHAT TO EXPECT  */
/*----------------------------------------------- */
/*------------------------------------------------*/
            /* HOME SOCIAL MEDIA  */
/*----------------------------------------------- */

    .social-media
    {
        display: grid;
        grid-template-columns: 1fr;
        background-color:#f5f5f5;
        align-items: center;
        justify-items: center;
    }

    .social-media-icons
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
    }

    .fa
    {
        width: 225px;
        text-decoration: none;
        padding: 25px 20px 25px 20px;
    }

    .social-media-icons > a
    {
         font-size: 160%;
         color: darkgray;
         text-align: center;
    }

    .social-media-icons > a > i > span
    {
      font-family: "Montserrat",serif;
      font-size: 20px;
      font-style: italic;
    }

    .social-media-icons > .fa:hover
    {
        background-color: #e0e0e0;
        color: white;
        transition: .2s;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .social-media-icons > a:link
    {
        text-decoration: none;
    }

    .social-media-icons > a:visited
    {
        text-decoration: none;
    }
/*------------------------------------------------*/
            /* HOME SOCIAL MEDIA  */
/*----------------------------------------------- */
/*------------------------------------------------*/
            /* HOME SERVICES  */
/*----------------------------------------------- */

    .services
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(0px, 300px);
        overflow: hidden;
    }

    .services > img
    {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        width: 100%;
        height: auto;
        margin-top: -250px;
        padding: 0px;
    }

    .services > h1
    {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        color: white;
        text-align: center;
        padding: 10px;
        justify-self: center;
        align-self: center;
        font-size: 300%;
    }
/*------------------------------------------------*/
            /* HOME SERVICES  */
/*----------------------------------------------- */
}
