/*------------------------------------------------*/
            /* CONTENT */
/*----------------------------------------------- */

.content
{
    padding: 10% 20px 15% 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
    color: #414440;
}

.staff_card
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.staff_image
{
    justify-self: center;
    width: 80%;
    max-width: 450px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.staff_headings
{
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
}

.staff_headings_subwrapper
{
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.staff_headings_subwrapper > .staff_name
{
    font-size: 150%;
}

.staff_headings_subwrapper > .staff_title
{
    font-size: 125%;
    color: #6f726e;
}

.staff_description 
{
    font-size: 110%;
}

/*------------------------------------------------*/
            /* CONTENT */
/*----------------------------------------------- */ 



@media only screen and (min-width: 1024px)
{
    /*------------------------------------------------*/
                /* MENU */
    /*----------------------------------------------- */ 

        #our_staff > a 
        {
        color: #414440;
        }

        #our_staff > hr
        {
            background-color: #414440;
        } 

    /*------------------------------------------------*/
                /* MENU */
    /*----------------------------------------------- */ 
    /*------------------------------------------------*/
                /* CONTENT */
    /*----------------------------------------------- */

        .content
        {
            padding: 100px 15% 100px 15%;
            grid-gap: 100px;
        }

        .staff_card
        {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-column-gap: 5px;
            grid-row-gap: 20px;
        }

        .staff_image
        {
            align-self: center;
            grid-column: 1 / 2;
            grid-row: 1 / -1;
        }

        .staff_headings
        {
            align-items: top;
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        .staff_headings_subwrapper
        {
            align-self: center;
        }

        .staff_headings_subwrapper > .staff_name
        {
            font-size: 225%;
        }

        .staff_headings_subwrapper > .staff_title
        {
            font-size: 175%;
            color: #6f726e;
        }

        .staff_description 
        {
            padding: 0px;
            margin: 0px;
            grid-column: 2 / 3;
            grid-row: 3 / -1;
            font-size: 125%;
        }

    /*------------------------------------------------*/
                /* CONTENT */
    /*----------------------------------------------- */

}
