/*------------------------------------------------*/
                /* CONTENT */
/*----------------------------------------------- */
.content
{
    padding: 10% 20px 15% 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
    color: #414440;
}

.content > div
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.content > div > h1
{
    font-size: 150%;
}

.content > div > p
{
    font-size: 115%;
}

.content > div > .serving-login > a 
{
    color: #5f9e43;
}

.content > div > .serving-login > a:visited 
{
    color: #5f9e43;
}

.content > div > .serving-login > a:link
{
    color: #5f9e43;
}

/*------------------------------------------------*/
                /* CONTENT */
/*----------------------------------------------- */

@media only screen and (min-width: 1024px)
{
/*------------------------------------------------*/
            /* DESKTOP MENU */
/*----------------------------------------------- */
    #serving > a
    {
       color: #414440;
    }

    #serving > hr
    {
        background-color: #414440;
    }
/*------------------------------------------------*/
            /* DESKTOP MENU */
/*----------------------------------------------- */
/*------------------------------------------------*/
                /* CONTENT */
/*----------------------------------------------- */

    .content
    {
        padding: 100px 15% 100px 15%;
        grid-gap: 100px;
    }

    .content > div > h1
    {
        font-size: 225%;
    }

    .content > div > p
    {
        font-size: 125%;
    }

/*------------------------------------------------*/
                /* CONTENT */
/*----------------------------------------------- */
}


