/*------------------------------------------------*/
/* CONTENT */
/*----------------------------------------------- */
.content {
    padding: 10% 20px 15% 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
    color: #414440;
}

.small_group_description {
    font-size: 110%;
}

.leader_card {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.leader_image {
    justify-self: center;
    width: 80%;
    max-width: 450px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.leader_headings {
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.leader_name {
    font-size: 150%;
}

.small_group_time {
    font-size: 125%;
    color: #6f726e;
}

.group_info {
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 8px;
}

.group_specific_description {
    font-size: 110%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.small_group_email {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
}

.small_group_email>.fa {
    padding: 0px 2% 0px 0px;
    margin: 0px;
    margin-top: 2px;
    font-size: 110%;
}

.small_group_email>a {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-size: 110%;
}

.small_group_email>a:visited {
    color: #414440;
}

.small_group_email>a:link {
    color: #414440;
}

.small_group_child {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    font-size: 110%;
}

.small_group_child>.fa {
    padding: 0px 2% 0px 0px;
    margin: 0px;
    margin-left: 2px;
    font-size: 110%;
}

/*------------------------------------------------*/
/* CONTENT */
/*----------------------------------------------- */

@media only screen and (min-width: 1024px) {
    /*------------------------------------------------*/
    /* MENU */
    /*----------------------------------------------- */

    #small_groups>a {
        color: #414440;
    }

    #small_groups>hr {
        background-color: #414440;
    }

    /*------------------------------------------------*/
    /* MENU */
    /*----------------------------------------------- */
    /*------------------------------------------------*/
    /* CONTENT */
    /*----------------------------------------------- */

    .content {
        padding: 100px 15% 100px 15%;
        grid-gap: 100px;
    }

    .small_group_description>p {
        font-size: 125%;
    }

    .leader_card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30% 15% 15% 40%;
        grid-column-gap: 5px;
        grid-row-gap: 35px;
    }

    .leader_image {
        align-self: center;
        justify-self: center;
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        width: 70%;
        max-width: 450px;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .leader_headings {
        align-items: top;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        grid-template-rows: 1fr;
    }

    .leader_name {
        font-size: 225%;
    }


    .small_group_time {
        font-size: 175%;
    }

    .group_info {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
    }

    .group_specific_description {
        font-size: 125%;
    }

    .small_group_email>a {
        font-size: 125%;
    }

    .small_group_email>.fa {
        padding: 0px 2% 0px 0px;
        font-size: 125%;
    }

    .small_group_child>div {
        font-size: 125%;
    }

    .small_group_child>.fa {
        padding: 0px 2% 0px 0px;
        font-size: 120%;
    }

    /*------------------------------------------------*/
    /* CONTENT */
    /*----------------------------------------------- */

}