/*------------------------------------------------*/
/* HEADER IMAGE  */
/*----------------------------------------------- */

.header_image {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.header_image>img {
    margin-top: 150px;
    width: 100%;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/*------------------------------------------------*/
/* HEADER IMAGE  */
/*----------------------------------------------- */

/*------------------------------------------------*/
/* CONTENT */
/*----------------------------------------------- */

.content {
    padding: 10% 20px 15% 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
    color: #414440;
}

.content>div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.content>div>h1 {
    font-size: 150%;
}

.content>div>p {
    font-size: 110%;
}

.series>.image>img{
    width:100%;
    height: auto;
}
.series>.image{
    
}

.teaching{
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr;
}

.teachings> div >audio{
    width: 100%;
    grid-column: 1 / 3;
}

.serving-login>a {
    color: #5f9e43;
}

.serving-login>a:visited {
    color: #5f9e43;
}

.serving-login>a:link {
    color: #5f9e43;
}

/*------------------------------------------------*/
/* CONTENT */
/*----------------------------------------------- */

@media only screen and (min-width: 1024px) {
    /*------------------------------------------------*/
    /* HEADER IMAGE  */
    /*---------------------------------------------- */

    .header_image {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(0px, 400px);
        overflow: hidden;
    }

    .header_image>img {
        width: 100%;
        height: auto;
        margin-top: 80px
    }

    /*------------------------------------------------*/
    /* HEADER IMAGE  */
    /*----------------------------------------------- */

    /*------------------------------------------------*/
    /* CONTENT */
    /*----------------------------------------------- */

    .content {
        padding: 100px 15% 100px 15%;
        grid-gap: 100px;
    }

    .content>div>h1 {
        font-size: 225%;
    }

    .content>div>p {
        font-size: 125%;
    }

    .series{
        margin: 0px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
    }

    .image>img{
        border-radius: 25px;
        box-shadow: 1px 1px, 3px;
    }

    .teachings-title{
        display: flex;
    }

    .teachings{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
    }


    .teachings >div{
        padding-top: 10px;
    }

    .teachings> .download{
        text-align: right;
    }

    .teachings> div >p{
        font-size: 125%;
        padding-left: 10px;
    }

    


    /*------------------------------------------------*/
    /* CONTENT */
    /*----------------------------------------------- */
}