/*------------------------------------------------*/
/* HEADER IMAGE  */
/*----------------------------------------------- */

.header_image {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.header_image > img {
  width: 100%;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/*------------------------------------------------*/
/* HEADER IMAGE  */
/*----------------------------------------------- */

/*------------------------------------------------*/
/* MENU */
/*----------------------------------------------- */

.menu {
  margin: 5% 0px 5% 0px;
  padding: 2% 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: #cfd3ce;
}

.menu > h1 {
  color: #6f726e;
  justify-self: center;
  font-size: 200%;
}

/*------------------------------------------------*/
/* MENU */
/*----------------------------------------------- */

/*------------------------------------------------*/
/* CONTENT */
/*----------------------------------------------- */

.content {
  padding: 10% 20px 15% 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 60px;
  color: #414440;
}

.content > div > h1 {
  font-size: 150%;
}

.content > div > h2 {
  color: #6f726e;
  font-size: 125%;
}

.content > div > p {
  font-size: 110%;
}

.content > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.time-of-year {
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
}

.time-of-year > h2 {
  color: #6f726e;
  font-size: 125%;
}
.time-of-year > p {
  font-size: 110%;
}

.time-of-year > p > a {
  color: #414440;
  text-decoration: none;
}

.time-of-year > p > a:hover {
  text-decoration: underline;
}

.time-of-year > p > a:visited {
  color: #414440;
}

.time-of-year > p > a:link {
  color: #414440;
}


/*------------------------------------------------*/
/* CONTENT */
/*----------------------------------------------- */

@media only screen and (min-width: 1024px) {
  .header_image {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0px, 625px);
    overflow: hidden;
  }

  .header_image > img {
    width: 100%;
    height: auto;
    margin-top: -500px;
  }
  /*------------------------------------------------*/
  /* MENU */
  /*----------------------------------------------- */

  .menu {
    padding: 2%;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #cfd3ce;
    grid-gap: 20px;
  }

  .menu > h1 {
    color: #6f726e;
    justify-self: center;
    font-size: 250%;
  }

  /*------------------------------------------------*/
  /* MENU */
  /*----------------------------------------------- */

  /*------------------------------------------------*/
  /* CONTENT */
  /*----------------------------------------------- */

  .content {
    padding: 100px 15% 100px 15%;
    grid-gap: 100px;
  }

  .content > div > h1 {
    font-size: 225%;
  }

  .content > div > p {
    font-size: 125%;
  }

  .time-of-year {
    display: grid;
    grid-template-columns: 1fr;
  }

  .time-of-year > h2 {
    color: #6f726e;
    font-size: 175%;
  }
  .time-of-year > p {
    font-size: 125%;
  }

  /*------------------------------------------------*/
  /* CONTENT */
  /*----------------------------------------------- */
}
